* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.head {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    color: white;
}

input {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    background: none;
    padding: 20px;
}

button {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 250px;
    height: 60px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
    /* padding: 25px; */
    background-color: black;
    color: white;
    border-radius: 50px;
}

#pass {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin: 30px 0%;
    border-radius: 8px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}